.mapSection {
  width: 100%;
  padding: var(--section-py) var(--section-px);
}

.mapContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5); /* 24px */
  padding-bottom: var(--sp-4); /* 16px */
}


